.home-container {
    padding: 0px 130px;
    width: 100%;
    background-color: rgb(234, 226, 235);
    margin-top: -5%;
    padding-top: 11%;
    display: flex;
    align-items: center;
}

.banner-text {
    width: 60%;
}

.banner-text p {
    margin: 25px 0px;
}


.banner-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.special-text {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner-img img {
    width: 75%;
    margin-left: 25%;
}

/* Catagory Section style */
.catagory-section, .job-section{
    padding: 0px 130px;
    margin: 100px 0px;
}

.catagory-section h2,.catagory-section > p, .job-section > p, .job-section h2{
    text-align: center;
}

.catagory{
    display: flex;
    gap: 20px;
}

/* Job section style Start  */
.job-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}







.see-more{
    margin-top: -50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:576px) {

    .home-container {
        padding: 2px 5%;
        margin-top: -20%;
        padding-top: 31%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        /* position: relative; */

    }

    .banner-text {
        width: 100%;
    }


    .banner-img {
        margin-right: 0px;
        margin-top: 8%;
        margin-bottom: -5px;
    }



    .banner-img img {
        width: 100%;
        margin-left:0;
    }

    .banner-text h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }


    /* Catagory section style start  */
    .catagory-section, .job-section{
        padding: 25px 5%;
        width: 100%;
    }

    .catagory{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* Catagory section style End  */




    /* Job section style Start  */

    .job-section{
        text-align: center;
    }

    .job-container{
        display: grid;
        /* margin: 0px auto; */
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }


}