.job-details-container {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    height: 200px;
    margin-top: -6%;
    padding-top: 10%;
}

.job-details-container h1 {
    text-align: center;
}

.job-details {
    padding: 0px 130px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

}


.right-section div {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    width: 424px;
    padding: 20px;
}

.right-section button {
    width: 424px;
    margin-top: 20px;
}

.right-section hr {
    margin: 7px 0px;
}

.font {
    color: #7E90FE;
}

.right-section p{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-top: 6px;
}

.left-section p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
}

.right-section strong, .left-section strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #323131;
}

.right-section .contract-info{
    margin-top: 20px;
}


@media screen and (max-width:576px) {

    .job-details-container {
        height: 160px;
        margin-top: -20%;
        padding-top: 25%;
    }

    .job-details {
        grid-template-columns: 1fr;
        padding: 0px 30px;
        margin-top: 70px;
    }

    .right-section div{
        width: 100%;
    }

    .right-section button {
        width: 100%;
        margin-bottom: 50px;
    }
    

    
}

