.header-container {
    padding: 25px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
    
}

.header-two{
    display: none;
}

.nav-item a {
    margin-left: 20px;
    text-decoration: none;
    color: gray;
}

@media screen and (max-width:576px) {
    .header-container {
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
    }

    .header-one{
        display: none;
    }
    .header-two{
        display: block;
    }

}